# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj.keep
*.xcworkspace/
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
.build/
.swiftpm/
Packages/
*.hmap
*.xccheckout
*.moved-aside
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store

# Tooling
.osgrep/
